.list-component {
    border-radius: 5px;
    background-color: var(--main-bg-color);
    /* border: solid 1px var(--main-border-color); */
    min-width: 60em;
}

.list-header {
    align-items: center;
    display: flex;
    gap: 1em;
    height: 2em;
    justify-content: flex-end;
    padding: 0.5em;
    color: var(--title-font-color);
}

.list-header .search {
    border-radius: 5px;
    border: solid 1px #d7d7d7;
    height: 2em;
    padding-left: 0.5em;
    width: 18em;
}

.list-button {
    height: 2.2em;
    border: solid 1px var(--main-border-color);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    color: grey;
    width: 6em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.list-item {
    margin: 10px;
    border-bottom: solid 1px #e9e9e9;
}

.list-item .ingredient-tag {
    padding: 5px;
    background: #4c9bd5;
    color: white;
    font-size: 11px;
    margin-right: 10px;
    border-radius: 20px
}