.menu {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: calc(100vh - 4em);
    margin: 1em 1em;
    padding: 1em;
    width: 15vw;
}

.menu-header {
    /* height: 4em; */
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: rgb(121, 120, 120);
}

.menu-navigation {
    gap: 0;
}

.menu-navigation .header {
    color: rgb(63, 62, 62);
    font-size: 11px;
    font-weight: 600;
}

.menu-navigation .tile {
    align-items: flex-end;
    color: rgb(121, 120, 120);
    display: flex;
    gap: 1em;
    height: 3.5em;
    justify-content: flex-start;
}

.menu-navigation .tile:hover {
    color: rgb(72, 140, 218);
}

.menu-footer {
    /* background-color: #af7676; */
    height: 5em;
    margin-top: auto;
}